extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nick

        p.lead.text-light
          | Digital Designer and Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My name is Nick and I am a Digital Designer and web developer based in the South West of England. After spendig the majority of the 2019 Cornavirus lockdown learning how to code, I am speeding my way towards being a fully fledged web developer and hopefully making a career move from design to development. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li Node.JS
          li jQuery
          li CSS/SASS
          li HTML
          li Git
          li NPM
          li Adobe Creative Suite
        h6 Contact Info

        ul
          li 07456 987 410
          li me@exampleemail.com

        a.button.expanded(href='https://www.linkedin.com/in/nick-cave-79683574/') LinkedIn
        a.button.expanded(href='https://github.com/enarsinick') GitHub
        a.button.expanded(href='https://www.instagram.com/dsgncave/?hl=en') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  