extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div 
      h1 My Portfolio 
      p.lead.text-light
        | This is my portfolio website showcasing a variety of projects I have built, whilst following the Treehouse Full Stack JavaScript Techdegree.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project, index in projects
        .cell 
          a(href=`/projects/${index}`)
            img.thumbnail(src=`../${project.feature_image}`)
            h5= project.project_name 
      
